.name {
  text-align: center;
  padding: 50px 0 0;
  color: black;
}

.buttonCV {
  padding: 10px 20px;
  background-color: #7227c9;
  display: auto;
  justify-content: flex-end;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  place-self: auto;
}

body,
html {
  margin: 0;
  padding: 0;
}

.side-nav {
  height: 100vh; /* 100% of viewport height */
  background-color: black;
  float: left;
}
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the links inside the navigation bar */
.nav a {
  display: block; /* Display as block to take full width */
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}

/* Change hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #7227c9;
  color: white;
}

html.dark {
  background-color: #000000;
  color: #ffffff;
}
