---
import NavBar from "../components/NavBar.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio web de Carlos Castillo Rivero</title>
  </head>

  <body>
    <main>
      <NavBar />
      <div style="display:grid; place-items: center;">
        <h1 class="name">Carlos Castillo Rivero</h1>
        <p>Hey! This is Carlos Castillo</p>
        <a
          class="buttonCV"
          href="Currículum_CastilloRiveroCarlos.pdf"
          download="Currículum_CastilloRiveroCarlos.pdf"
        >
          Download CV
        </a>
      </div>
    </main>
  </body>
</html>
