<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio web de Carlos Castillo Rivero</title>
  </head>

  <body>
    <main>
      <div class="topnav">
        <a class="active" href="#home"> Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
      <h1 class="name">Carlos Castillo Rivero</h1>
      <a
        class="buttonCV"
        href="Currículum_CastilloRiveroCarlos.pdf"
        download="Currículum_CastilloRiveroCarlos.pdf"
      >
        Download CV
      </a>
    </main>
  </body>
</html>
