---
import ThemeIcon from "../components/ThemeIcon.astro";
---

<div class="side-nav">
  <ul class="nav">
    <li><a class="active" href="#home"> Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li><ThemeIcon /></li>
  </ul>
</div>
